$transition-collapse:         height 0s;

body {
  background: $gray-100;

}

// // breakpoints
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }




.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}

.navbar-collapse {
  position: absolute !important;
  z-index: 100;
  background-color: #2196f3 !important;

  height: 100vh;
  width: 600px;
  overflow: hidden;

@media (min-width: 992px) {
 
    position: absolute !important;
    top: 80px;
    left: 871px;
  
}

}

.carousel img {
  border-radius: 30px;
  background-color: transparent;
}

.carousel-control-next, .carousel-control-prev {
  background-image: none;
}

.jumbotron.aura--jumbotron {
  height: 365px;
line-height: 3px;
letter-spacing: 0.1px;
word-spacing: 2px;
}
.btn.jumbotron__btn--lg {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
}